<!doctype html>
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">

<div class=row>

 <h1> </h1>
 
  
    <h2></h2>
   
    {{df1.table|safe}}

</div>

<div class=row>

 <h1> </h1>
 
  
    <h2></h2>
   
    {{df2.table|safe}}

</div>

<div class=column>
<div class=row>
 <h1> </h1>
 {% for table in tables %}

   <h2>{{titles[loop.index]}}</h2>
  
   {{ table|safe }}
   </div>
 {% endfor %}
</div>